@import "~bootstrap/scss/bootstrap";
body {
  background-color: #ffb6c1;
}
div.card {
  background-color: lightgreen;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}
